apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: grafana-controller-manager
    controller-tools.k8s.io: "1.0"
  name: grafana-manager
---
apiVersion: v1
kind: Service
metadata:
  name: manager-service
  namespace: system
  labels:
    control-plane: grafana-controller-manager
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    control-plane: grafana-controller-manager
    controller-tools.k8s.io: "1.0"
  ports:
  - port: 443
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: manager
  namespace: system
  labels:
    control-plane: grafana-controller-manager
    controller-tools.k8s.io: "1.0"
spec:
  selector:
    matchLabels:
      control-plane: grafana-controller-manager
      controller-tools.k8s.io: "1.0"
  serviceName: grafana-controller-manager-service
  template:
    metadata:
      labels:
        control-plane: grafana-controller-manager
        controller-tools.k8s.io: "1.0"
    spec:
      containers:
      - command:
        - /manager
        image: containers.cisco.com/jaganaga/aims-grafana-controller:v5
        imagePullPolicy: Always
        name: manager
        env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: SECRET_NAME
            value: $(WEBHOOK_SECRET_NAME)
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
        ports:
        - containerPort: 9876
          name: webhook-server
          protocol: TCP
        volumeMounts:
        - mountPath: /tmp/cert
          name: cert
          readOnly: true
      terminationGracePeriodSeconds: 10
      imagePullSecrets:
        - name: cisco-cred-pull-secret
      volumes:
      - name: cert
        secret:
          defaultMode: 420
          secretName: webhook-server-secret
---
apiVersion: v1
kind: Secret
metadata:
  name: webhook-server-secret
  namespace: system
---
apiVersion: v1
kind: Secret
metadata:
  name: cisco-cred-pull-secret
  namespace: system
data:
  .dockerconfigjson: ewogICJhdXRocyI6IHsKICAgICJjb250YWluZXJzLmNpc2NvLmNvbSI6IHsKICAgICAgImF1dGgiOiAiSkdGd2NEcE1RbFEyUVV0U1NVczVSazFGU0VwRFVEZFhTRFZUVEZaTFZVTlRUbFZFUVRkWlQwUlpXa05UVnpaTE1rOUtPVmM0VURoS1NURXpWRm8yT0VGRFV6bFVNVXRaVlVReE5WUktRMGs0VVZnd01VZE9VVmxMUzA1S1RqWktOMUZGUjBaSlQxWkRVMFpVVHpaT1Z6aExOakEzVUVSVVFWSTNURVE9IiwKICAgICAgImVtYWlsIjogIiIKICAgIH0KICB9Cn0=
type: kubernetes.io/dockerconfigjson

